<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pawket.wallet" version="1.6.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Pawket</name>
    <icon src="res/android/icon.png" platform="android" width="57" height="57" density="mdpi" />
    <description>An open-source and secure offline wallet for Chia</description>
    <author email="support@sutu.tech" href="https://www.pawket.app/">
        Sutu Labs
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="android-targetSdkVersion" value="35" />
    <!-- <preference name="scheme" value="app" />
    <preference name="hostname" value="localhost"/> -->
    <platform name="android">
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-feature android:name="android.hardware.camera" android:required="true"/>
            <uses-feature android:name="android.hardware.camera.autofocus"/>
            <uses-permission android:name="android.permission.CAMERA"/>
        </config-file>
    </platform>
</widget>
